.DS_Store
*.swp
*.swap
*.o
*xcuserdata*
*xcworkspace*
*.idea*
Pods/**
*.pyc
Protobuf/newproto/**
parser.out
parsetab.py
lextab.py
Protobuf/pytools/plyj/**

dependency/pjproject/pjsip-nb
**/_source_**
**/_source_i386
**/_source_x86_64
**/_source_armv7
**/_source_armv7s
**/_source_arm64
**/_source_dbg_i386
**/_source_dbg_x86_64
**/_source_dbg_armv7
**/_source_dbg_armv7s
**/_source_dbg_arm64
**/_source/**/build/**
**/_source/**/*.a
**/_source/**/lib/*.a
**/_source/**/bin/**
**/_source/pjsip-apps/**
**/pjproject/.pc/**
**/dependency/pjproject/**/lib/**/*.a

**/dependency/zrtpcpp/_output*

no-git
*.out
os-auto.mak
config.log
build.mak
config.status
dependency/pjproject/_source/pjlib/include/pj/config_site.h
.patched_sources

obfuscation/build*
obfuscation/headers*
symbols*
*.bak
*.pch-e
Phonex/Resource/Strings/cs-to-pl.csv
Phonex/Resource/Strings/cs-to-ru-RU.csv

dependency/RMStore/.gitignore
dependency/RMStore/.travis.yml
dependency/RMStore/CONTRIBUTING.md
dependency/RMStore/LICENSE
dependency/RMStore/README.md
dependency/RMStore/RMStore.podspec
dependency/RMStore/RMStore.xcodeproj/
dependency/RMStore/RMStore/Optional/AppleIncRootCertificate.cer
dependency/RMStore/RMStore/Optional/openssl-1.0.1e/
dependency/RMStore/RMStoreDemo/
dependency/RMStore/RMStoreTests/
