<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-67027014-3</string>
	<key>CLIENT_ID</key>
	<string>359501645451-c60gabqj3hjl2dvs51ho4vc7igtsd3kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359501645451-c60gabqj3hjl2dvs51ho4vc7igtsd3kg</string>
	<key>API_KEY</key>
	<string>AIzaSyBZlI8X_Oa7IA55Q8GoCOMCq0gQVR1MMMI</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.phonex.Phonex</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
</dict>
</plist>
