<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>all</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.calendar-event</string>
				<string>public.database</string>
				<string>public.executable</string>
				<string>public.item</string>
				<string>public.video</string>
				<string>public.image</string>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-external-plain-​text</string>
				<string>public.utf16-plain-text</string>
				<string>com.apple.traditional-mac-​plain-text</string>
				<string>public.source-code</string>
				<string>public.c-source</string>
				<string>public.objective-c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.objective-c-plus-​plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>com.sun.java-source</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.zip-archive</string>
				<string>public.archive</string>
				<string>com.pkware.zip-archive</string>
				<string>com.pkware.zipx-archive</string>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.21</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>net.phone-x.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>phonex</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>68</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>6a0c5875-b022-484d-b03b-8b46ebdbec1b</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>The permission is needed so you can send an image attachment to your PhoneX contacts</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The permission is needed to connect to Bluetooth headset so you can use it with PhoneX call</string>
	<key>NSCameraUsageDescription</key>
	<string>The permission is needed so you can take a picture and send it straight away to your contact in a secure way without need to store it to the gallery</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The permission is needed so you can make a secure voice call to another PhoneX user</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The permission is needed so you are able to send your photos to your contacts with PhoneX in a secure way</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen alt</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
