<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>light_gray_high</key>
	<string>#333</string>
	<key>light_gray_high_transparent</key>
	<string>#9333</string>
	<key>light_gray_normal</key>
	<string>#585858</string>
	<key>light_gray_low</key>
	<string>#777</string>
	<key>dim</key>
	<string>#CC151515</string>
	<key>white_normal</key>
	<string>#151515</string>
	<key>black_normal</key>
	<string>#F8F8F8</string>
	<key>orange_normal</key>
	<string>#FF9000</string>
	<key>orange_low</key>
	<string>#E87800</string>
	<key>light_orange_normal</key>
	<string>#5B2D00</string>
	<key>red_normal</key>
	<string>#8F0000</string>
	<key>red_low</key>
	<string>#CC0000</string>
	<key>green_normal</key>
	<string>#008F00</string>
	<key>green_low</key>
	<string>#00CC00</string>
</dict>
</plist>
