<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dim</key>
	<string>#A000</string>
	<key>invisible</key>
	<string>#0000</string>
	<key>whiteHigh</key>
	<string>#FFF</string>
	<key>whiteNormal</key>
	<string>#DDD</string>
	<key>whiteLow</key>
	<string>#BBB</string>
	<key>grayHigh</key>
	<string>#999</string>
	<key>grayNormal</key>
	<string>#777</string>
	<key>grayLow</key>
	<string>#555</string>
	<key>blackHigh</key>
	<string>#444</string>
	<key>blackNormal</key>
	<string>#222</string>
	<key>blackLow</key>
	<string>#000</string>
	<key>orangeHigh</key>
	<string>#F50</string>
	<key>orangeNormal</key>
	<string>#F75</string>
	<key>orangeLow</key>
	<string>#B00</string>
</dict>
</plist>
